<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<div id="pricing_table"></div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const client_reference_id = urlParams.get('client_reference_id');
    const browser_table_id = 'prctbl_1PBy3NGYAgiVIRTRmzPGt6ec';
    const watch_table_id = 'prctbl_1PBxyxGYAgiVIRTR0OQ4O08l';

    const stripe_pricing_table = document.createElement('stripe-pricing-table');
    stripe_pricing_table.setAttribute('pricing-table-id', client_reference_id ? watch_table_id : browser_table_id);
    stripe_pricing_table.setAttribute('publishable-key', 'pk_live_51NKhvLGYAgiVIRTRJKjclNywFLdVthWmOMWEuCwDlUmpDwz9ODXi5XwbNeu4BEQdCF97nJdiqB7zHTsEpKK1iEFT00hM0D9lvb');
    stripe_pricing_table.setAttribute('client-reference-id', client_reference_id);

    const pricing_table = document.getElementById("pricing_table");
    pricing_table.replaceWith(stripe_pricing_table);

    if (client_reference_id) posthog.alias(client_reference_id);
</script>
